<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-theme.css">
</head>
<body ng-app="categoryModule">
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">FOOD HUT</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="categoryview.html">Category</a></li>
				<li><a href="itemview.html">Item</a></li>
				<li class="active"><a href="iteminput.html">Item input</a></li>
				<li><a href="register.html">Register User</a></li>
				<li><a href="adminview.html">Admin</a></li>
				
			</ul>
		</div>
	</nav>
<html ng-app="myApp">
	<head>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js">
	</script>		
	<script>
	var myApp=angular.module('myApp',[]);
	myApp.controller('myController',function($scope,$http){
		$scope.addItem = function(){
		 $http.post('http://localhost:50587/api/items', {
		 		itemName: $scope.itemName,
		 		price: $scope.price,
				quantity: $scope.quantity,
		 		categoryId: $scope.categoryId		
	}).then(function(response){
		 	if(response.status == 201)
		 	{
		 		alert('successful!');
				location.href = 'itemview.html';
		 	}
			else {alert('Not successful!');}
			});
		}
	});
	</script>
	</head>
	<body ng-app="myApp">
	<div ng-controller="myController"><br/>	
		Item Name: <input type="text" ng-model="itemName" required><br/><br/>
		Item Price: <input type="text" ng-model="price" required><br/><br/>
		Item Quantity: <input type="text" ng-model="quantity" required><br/><br/>
		Item Category ID: <input type="text" ng-model="categoryId" required><br/><br/><br/>
		<button  class="btn btn-primary" ng-click="addItem()" >Add Item</button>
		
	</div>
	</body>
</html>
<script type="text/javascript" src="assets/jquery/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="assets/angular/angular.js"></script>
	<script type="text/javascript" src="assets/scripts/category.js"></script>
</body>
</html>