<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap-theme.css">
</head>
<body ng-app="categoryModule">
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">FOOD HUT</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="index.html">Home</a></li>
				<li><a href="categoryview.html">Category</a></li>
				<li class="active"><a href="itemview.html">Item</a></li>
				<li><a href="userview.html">User</a></li>
				<li><a href="adminview.html">Admin</a></li>
				
			</ul>
		</div>
	</nav>
<html ng-app="myApp">
	<head>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js">
	</script>		
	<script>
	myApp=angular.module('myApp',[]);
	myApp.controller('myController',function($scope,$http){
		$http.get('http://localhost:50587/api/items').success(function(response){
			$scope.myData = response;
		});
		$scope.removeName = function(row) {
			$scope.myData.splice($scope.myData.indexOf(row),1);
		}
	});
	</script>
	</head>
	<body ng-controller="myController">
	Search : <input type="text" value="" ng-model="search" />
	<div class="panel panel-info" >
		<div class="panel-heading">
						Item List
						<button class="btn btn-xs btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Add New</button>
						<button class="btn btn-xs btn-default pull-right" style="margin-right: 5px;"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
					</div>
			
		<div class="panel-body">
		
		<table border=1>
			<th<td></td>
				<td>Item Id</td>
				<td>Item Name</td>
				<td>Price</td>
				<td>Quantity</td>
				<td>Category Id</td>
				
			</th>
			<tr ng-repeat="data in myData | filter : search">
				<td>{{data.id}}</td>
				<td>{{data.itemName}}</td>
				<td>{{data.price}}</td>
				<td>{{data.quantity}}</td>
				<td>{{data.categoryId}}</td>
				<td><a href="" ng-click="removeName(data)">Remove</a></td>
			</tr>
		</table>
		</div>
	</div>
	</body>
</html>
<script type="text/javascript" src="assets/jquery/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="assets/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="assets/angular/angular.js"></script>
	<script type="text/javascript" src="assets/scripts/category.js"></script>
</body>
</html>